// -------------------------------------------
// Mobile Nav
// -------------------------------------------

.mobileUtil {
    float: right;
    display: block;
}

.mobileUtil > * {
    display: inline-block;
}

.mobileUtil > * + * {
    margin-left: 0.5rem;
}

.mobileUtil__link {
    padding:  1.813rem 0.25rem 0.25rem 0.25rem;
    width: 46px;
    @include borderBox;
    position: relative;
    background: transparent;
    border: 1px solid $blue-1;
    color: $white;
    @include border-radius(6px);
    font-size: 0.6875rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    outline: none;
}

// chat icon
.mobileUtil__link--chat:before,
.mobileUtil__link--chat:after {
    content: "";
    display: block;
    position: absolute;
}

.mobileUtil__link--chat:before {
    width: 24px;
    height: 14px;
    background: $white;
    @include border-radius(4px);
    margin: auto;
    top: 5px;
    right: 0;
    left: 0;
}

.mobileUtil__link--chat:after {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 6px solid $white;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    top: 13px;
    right: 18px;
}


// navicon
.mobileUtil__link__navicon,
.mobileUtil__link__navicon:before,
.mobileUtil__link__navicon:after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: $white;
    @include border-radius(2px);
    @include transition(all, 0.2s, ease-in-out);
}

.mobileUtil__link__navicon {
    top: 13px;
    left: 9px;
}

.mobileUtil__link__navicon:before {
    top: -7px;
    left: 0;
}

.mobileUtil__link__navicon:after {
    top: 7px;
    left: 0;
}

// Active navicon states
.mobileUtil__link__navicon--isActive {
    background-color: transparent;
}

.mobileUtil__link__navicon--isActive:before {
    top: 0;
    margin-top: 1px;
    @include transform(rotate(45deg));
    -webkit-transform-origin: left left;
    transform-origin: left left;
 
}

.mobileUtil__link__navicon--isActive:after {
    top: 0;
    margin-top: 1px;
     @include transform(rotate(45deg));
    -webkit-transform-origin: left left;
    transform-origin: left left;
}

@media (min-width: $breakpoint-small) {
    
}

@media (min-width: $breakpoint-large) {
    .mobileUtil {
        display: none;
    }
}
