<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Boxes Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Box Template</h1>
            </div>
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box</code></td>
                        <td>n/a</td>
                        <td>Applies 1rem / 16px of padding around content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--x2</code></td>
                        <td>n/a</td>
                        <td>Applies 2rem / 32px of padding around content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--x3</code></td>
                        <td>n/a</td>
                        <td>Applies 3rem / 48px of padding around content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-colors">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--light</code></td>
                        <td>.box</td>
                        <td>Applies a white background color behind content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-colors">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--dusty</code></td>
                        <td>.box</td>
                        <td>Applies a grey (dusty) background color behind content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-borders">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--framed</code></td>
                        <td>.box</td>
                        <td>Applies a border around content.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="box-rounded">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.box--rounded</code></td>
                        <td>.box</td>
                        <td>Applies a 4px border radius.</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Box Size Template:</h3>
            </div>
            <!-- BEGIN BOX SIZE TEMPLATE -->
            <div class="box">
                Content within a box.
            </div>
            <br /><br />
            <div class="box box--x2">
                Content within a box with 2x padding.
            </div>
            <br /><br />
            <div class="box box--x3">
                Content within a box with 3x padding.
            </div>
            <!-- END BOX SIZE TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Box Color Template:</h3>
            </div>
            <!-- BEGIN BOX COLOR TEMPLATE -->
            <div class="box box--light">
                Content within a box with a white background.
            </div>
            <br /><br />
            <div class="box box--dusty">
                Content within a box with a "dusty" background color.
            </div>
            <!-- END BOX COLOR TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Box w/ Border Template:</h3>
            </div>
            <!-- BEGIN BOX BORDER TEMPLATE -->
            <div class="box box--framed">
                Content within a box with a border.
            </div>
            <br /><br />
            <div class="box box--dusty box--framed">
                Content within a box with a "dusty" background color and a border.
            </div>
            <!-- END BOX BORDER TEMPLATE -->
        </div>
    </div>
</body>
</html>
