<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Buttons Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Buttons Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-default">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn</code></td>
                        <td>*</td>
                        <td>Applies default button style to element.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-secondary">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--dismiss</code></td>
                        <td>.btn</td>
                        <td>Applies secondary 'dismiss' button style to a button.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-brand">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--brand</code></td>
                        <td>.btn</td>
                        <td>Applies secondary 'brand' button style to a button.</td>
                    </tr>                    
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-secondary">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--progress</code></td>
                        <td>.btn</td>
                        <td>Applies secondary 'progress' button style to a button.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-secondary">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--white</code></td>
                        <td>.btn</td>
                        <td>Applies secondary 'white' button style to a button.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-tertiary">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--link</code></td>
                        <td>.btn</td>
                        <td>Applies tertiary 'link' button style to a button.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-disabled">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--disabled</code></td>
                        <td>.btn</td>
                        <td>Applies disabled appearance to a button.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="buttons-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.btn--block</code></td>
                        <td>.btn</td>
                        <td>Forces button to be 100% wide.</td>
                    </tr>
                </tbody>
            </table> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Default Button Template:</h3>
            </div>
            <!-- BEGIN DEFAULT BUTTON TEMPLATE -->
            <a href="#" class="btn">Primary Button (btn)</a>
            <!-- END DEFAULT BUTTON TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Secondary Button Template:</h3>
            </div>
            <!-- BEGIN SECONDARY BUTTON TEMPLATE -->
            <a href="#" class="btn btn--brand">Brand Button (btn--brand)</a>
            <br /><br />
            <a href="#" class="btn btn--progress">Progress Button (btn--progress)</a>
            <!-- END SECONDARY BUTTON TEMPLATE -->    

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Tertiary Button Template:</h3>
            </div>
            <!-- BEGIN TERTIARY BUTTON TEMPLATE -->
            <a href="#" class="btn btn--dismiss">Grey Button (btn--dismiss)</a>
            <br /><br />
            <a href="#" class="btn btn--white">White Button (btn--white)</a>
            <br /><br />
            <a href="#" class="btn btn--link">Clear Button (btn--link)</a>
            <!-- END TERTIARY BUTTON TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Button Types Template:</h3>
            </div>
            <!-- BEGIN BUTTON TYPES TEMPLATE -->
            <a href="#" class="btn">Link Button</a>
            <br /><br />
            <input type="submit" value="Submit Button" class="btn" />
            <br /><br />
            <button class="btn">&lt;Button&gt;</button>
            <!-- END BUTTON TYPES TEMPLATE -->   

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Disabled Button Template:</h3>
            </div>
            <!-- BEGIN DISSABLED BUTTON TEMPLATE -->
            <a href="#" class="btn btn--isDisabled" disabled>Disabled Button</a>
            <br /><br />
            <input type="submit" value="Disabled Submit Button" class="btn btn--isDisabled" disabled />
            <br /><br />
            <button class="btn btn--isDisabled" disabled>Disabled &lt;Button&gt;</button>
            <!-- END DISSABLED BUTTON TEMPLATE -->   

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Button Size Template:</h3>
            </div>
            <!-- BEGIN BUTTON SIZE TEMPLATE -->
            <a href="#" class="btn">Regular Button</a>
            <br /><br />
            <a href="#" class="btn btn--block">Block Level Button</a>
            <!-- END BUTTON SIZE TEMPLATE -->   

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Button Formatting Template:</h3>
            </div>
            <!-- BEGIN BUTTON FORMATTING TEMPLATE -->
            <div class="control">
                <ul class="control__group">
                    <li>
                        <a href="#" class="btn">Continue</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn--dismiss">Cancel</a>
                    </li>
                </ul>
            </div>
            <!-- END BUTTON FORMATTING TEMPLATE -->   
            
            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Button With Icon:</h3>
            </div>
            <!-- BEGIN BUTTON w/ ICON TEMPLATE -->
            <button class="btn btn--progress">
                <i class="icon icon--check--inverted"></i>
                Confirm
            </button>
            <!-- END BUTTON w/ ICON TEMPLATE -->             
        </div>											 
    </div>
</body>
</html>