<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Allstate User Interface Toolkit Starter Cards Template</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Cards Template</h1>
            </div>
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                 <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card</code></td>
                        <td>*</td>
                        <td>Applies default card style.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card--flat</code></td>
                        <td>.card</td>
                        <td>Removes default border-radius from card.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card--framed</code></td>
                        <td>.card</td>
                        <td>Applies secondary 1px border style to card.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card--shadow</code></td>
                        <td>.card</td>
                        <td>Applies drop shadow to card.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__header</code></td>
                        <td>*</td>
                        <td>Applies default card header style.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__header--dusty</code></td>
                        <td>.card__header</td>
                        <td>Applies dusty background color to card header.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__body</code></td>
                        <td>*</td>
                        <td>Applies default card body style with 16px padding.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__body--flush</code></td>
                        <td>.card__body</td>
                        <td>Removes default 16px padding from card body.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__body--bordered</code></td>
                        <td>.card__body</td>
                        <td>Applies top and bottom borders to card body.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__footer</code></td>
                        <td>*</td>
                        <td>Applies default card footer style.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.card__footer--dusty</code></td>
                        <td>.card__footer</td>
                        <td>Applies dusty background color to card footer.</td>
                    </tr>
                </tbody>
            </table>

            <hr />

                <div class="grid">
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--framed">
                            <div class="card__header">
                              Card Header
                            </div>
                            <div class="card__body">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--framed">
                            <div class="card__header">
                              Card Header
                            </div>
                            <div class="card__body card__body--bordered">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--framed">
                            <div class="card__header card__header--dusty">
                              Card Header
                            </div>
                            <div class="card__body">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer card__footer--dusty">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--framed">
                            <div class="card__header card__header--dusty">
                              Card Header
                            </div>
                            <div class="card__body card__body--bordered">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer card__footer--dusty">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--shadow">
                            <div class="card__header">
                              Card Header
                            </div>
                            <div class="card__body">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--shadow">
                            <div class="card__header">
                              Card Header
                            </div>
                            <div class="card__body card__body--bordered">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--shadow">
                            <div class="card__header card__header--dusty">
                              Card Header
                            </div>
                            <div class="card__body">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer card__footer--dusty">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--shadow">
                            <div class="card__header card__header--dusty">
                              Card Header
                            </div>
                            <div class="card__body card__body--bordered">
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                            <div class="card__footer card__footer--dusty">
                              <div class="txt txt--right">
                                  <a href="">Learn More</a>
                              </div>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <div class="box box--dusty">
                          <!-- START CARD TEMPLATE -->
                          <div class="card">
                              <div class="card__header">
                                Card Header
                              </div>
                              <div class="card__body card__body--bordered">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris felis orci, tincidunt eu nisl a, ullamcorper porta sem.</p>
                                <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                              </div>
                              <div class="card__footer">
                                <div class="txt txt--right">
                                    <a href="">Learn More</a>
                                </div>
                              </div>
                          </div>
                          <!-- END CARD TEMPLATE -->
                        </div>
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <div class="box box--dusty">
                          <!-- START CARD TEMPLATE -->
                          <div class="card">
                              <div class="card__header">
                                Card Header
                              </div>
                              <div class="card__body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris felis orci, tincidunt eu nisl a, ullamcorper porta sem.</p>
                                <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                              </div>
                              <div class="card__footer">
                                <div class="txt txt--right">
                                    <a href="">Learn More</a>
                                </div>
                              </div>
                          </div>
                          <!-- END CARD TEMPLATE -->
                        </div>
                    </div>
                    <div class="grid__col grid__col--6of12--medium">
                        <!-- START CARD TEMPLATE -->
                        <div class="card card--framed">
                            <div class="card__body">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris felis orci, tincidunt eu nisl a, ullamcorper porta sem.</p>
                              <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens.</p>
                            </div>
                        </div>
                        <!-- END CARD TEMPLATE -->
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__col grid__col--3of12 grid__col--3of12--medium grid__col--push--2 grid__col--push--6--medium txt--right">
        </div>
    </div>

</body>
</html>