<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Display Text Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Display Text Template</h1>
            </div>
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display</code></td>
                        <td>*</td>
                        <td>Display text renders using the branded Allstate Sans Regular font.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--36</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 2.25rem / 36px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--28</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 1.75rem / 28px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--24</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 1.5rem / 24px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--20</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 1.25rem / 20px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--18</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 1.125rem / 18px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--16</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 1rem / 16px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--14</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 0.875rem / 14px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="heading-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--12</code></td>
                        <td>.display</td>
                        <td>Display text size is set to 0.750rem / 12px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--light</code></td>
                        <td>.display</td>
                        <td>Displays Allstate Sans Light.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--medium</code></td>
                        <td>.display</td>
                        <td>Displays Allstate Sans Medium.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--bold</code></td>
                        <td>.display</td>
                        <td>Displays Allstate Sans Bold.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.display--black</code></td>
                        <td>.display</td>
                        <td>Displays Allstate Sans Black.</td>
                    </tr>
                </tbody>
            </table>
        

            <h3 class="display display--20 display--bold vr--x2">Template:</h3>

            <h3 class="display display--16 display--bold vr">Font Sizes:</h4>
            <!-- BEGIN TEMPLATE -->

            <ul class="vr--x2 vList vList--tight">
              <li><span class="display display--36">Display 36 (2.25rem | 36px)</span></li>
              <li><span class="display display--28">Display 28 (1.75rem | 28px)</span></li>
              <li><span class="display display--24">Display 24 (1.5rem | 24px)</span></li>
              <li><span class="display display--20">Display 20 - Headline (1.25rem | 20px)</span></li>
              <li><span class="display display--18">Display 18 - Title (1.125rem | 18px)</span></li>
              <li><span class="display display--16">Display 16 - Body / Labels / Buttons / Links /Message / Tooltips / Errors (1rem | 16px)</span></li>
              <li><span class="display display--14">Display 14 - Body Text / Hints (1.25rem | 20px)</span></li>
              <li><span class="display display--12">Display 12 - Legal / Disclaimer (0.750rem / 12px)</span></li>
           </ul>

            <h3 class="display display--16 display--bold vr">Font Styles:</h4>

            <ul class="vr--x2 vList vList--tight">
              <li><span class="display display--light">Light (.display--light)</span></li>
              <li><span class="display display--medium">Medium (.display--medium)</span></li>
              <li><span class="display display--bold">Bold (.display--bold)</span></li>
              <li><span class="display display--black">Black (.display--black)</span></li>
            </ul>

            <h3 class="display display--16 display--bold vr">Fonts:</h4>

            <ul class="vr--x2 vList vList--tight">
              <li><span class="display display--arial">Arial (.display--arial)</span></li>
            </ul>

            <!-- END TEMPLATE -->
        </div>
    </div>
</body>
</html>
