<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Text-Align Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Grids Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">        
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Basic Grid Template:</h3>
            </div>
            <div class="vr">
                <table class="table table--appendix">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Modifier Class</th>
                            <th>Assign To</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid</code></td>
                            <td>*</td>
                            <td>Wraps around grid columns to establish grid formating.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col</code></td>
                            <td>.grid > *</td>
                            <td>Used to define a grid column. By default, the column is set to be 100% wide.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--1of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 1/12 wide.</td>
                        </tr>   
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--2of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 2/12 wide.</td>
                        </tr>  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--3of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 3/12 wide.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--4of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 4/12 wide.</td>
                        </tr>     
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--5of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 5/12 wide.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--6of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 6/12 wide.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--7of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 7/12 wide.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--8of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 8/12 wide.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--9of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 9/12 wide.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--10of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 10/12 wide.</td>
                        </tr>         
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--11of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 11/12 wide.</td>
                        </tr>     
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>.grid__col--12of12</code></td>
                            <td>.grid__col</td>
                            <td>Set grid column to 12/12 wide. (same as <code>.grid__col</code>)</td>
                        </tr>             
                </table>         
            </div>
            <!-- BEGIN BASIC GRID TEMPLATE -->
            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--1of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--11of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--2of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--10of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--3of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--9of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--4of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--8of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--5of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--7of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--6of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--6of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="grid__col grid__col--12of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
            </div>
            <!-- END BASIC GRID TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Responsive Grid Template:</h3>
            </div>
            <div class="vr">
                <table class="table table--appendix">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Modifier Class</th>
                            <th>Assign To</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--medium</code></td>
                            <td>.grid__col</td>
                            <td>Defines the size of a grid column for medium sized devices and larger.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--large</code></td>
                            <td>.grid__col</td>
                            <td>Defines the size of a grid column for large sized devices and larger.</td>
                        </tr>    
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--xlarge</code></td>
                            <td>.grid__col</td>
                            <td>Defines the size of a grid column for extra large sized devices.</td>
                        </tr>      
                </table>         
            </div>
            <!-- BEGIN RESPONSIVE GRID TEMPLATE -->
            <div class="grid">
                <div class="grid__col grid__col--6of12--medium grid__col--3of12--large">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--6of12--medium grid__col--3of12--large">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--6of12--medium grid__col--3of12--large">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--6of12--medium grid__col--3of12--large">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>    
            </div>
            <!-- END RESPONSIVE GRID TEMPLATE -->        

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Grid Push Extensions Template:</h3>
            </div>
            <div class="vr">
                <table class="table table--appendix">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Modifier Class</th>
                            <th>Assign To</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>                  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--0</code></td>
                            <td>.grid__col</td>
                            <td>Removes any margininal spacing from a grid column.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--1</code></td>
                            <td>.grid__col</td>
                            <td>Applies 1 column of margininal spacing on a grid column.</td>
                        </tr>  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--2</code></td>
                            <td>.grid__col</td>
                            <td>Applies 2 columns of margininal spacing on a grid column.</td>
                        </tr>  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--3</code></td>
                            <td>.grid__col</td>
                            <td>Applies 2 columns of margininal spacing on a grid column.</td>
                        </tr>   
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--4</code></td>
                            <td>.grid__col</td>
                            <td>Applies 4 columns of margininal spacing on a grid column.</td>
                        </tr>    
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--5</code></td>
                            <td>.grid__col</td>
                            <td>Applies 5 columns of margininal spacing on a grid column.</td>
                        </tr>            
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--6</code></td>
                            <td>.grid__col</td>
                            <td>Applies 6 columns of margininal spacing on a grid column.</td>
                        </tr>     
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--7</code></td>
                            <td>.grid__col</td>
                            <td>Applies 7 columns of margininal spacing on a grid column.</td>
                        </tr>   
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--8</code></td>
                            <td>.grid__col</td>
                            <td>Applies 8 columns of margininal spacing on a grid column.</td>
                        </tr>     
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--9</code></td>
                            <td>.grid__col</td>
                            <td>Applies 9 columns of margininal spacing on a grid column.</td>
                        </tr>                  
                    </tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--10</code></td>
                            <td>.grid__col</td>
                            <td>Applies 10 columns of margininal spacing on a grid column.</td>
                        </tr> 
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--push--11</code></td>
                            <td>.grid__col</td>
                            <td>Applies 11 columns of margininal spacing on a grid column.</td>
                        </tr>              
                </table>          
            </div>
            <!-- BEGIN GRID PUSH EXTENSIONS TEMPLATE -->
            <div class="vr">
                <div class="grid">
                    <div class="grid__col grid__col--3of12">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                    <div class="grid__col grid__col--3of12 grid__col--push--6">
                        <div class="box box--dusty box--framed">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="grid__col grid__col--6of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--4of12 grid__col--push--2">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
            </div>
            <!-- END GRID PUSH EXTENSIONS TEMPLATE -->  

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Grid Layout Middle Aligned Template:</h3>
            </div>
            <!-- BEGIN GRID MIDDLE ALIGNED TEMPLATE -->
            <div class="grid grid--middle">
                <div class="grid__col grid__col--4of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--4of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--4of12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                </div>
            </div>
            <!-- END GRID MIDDLE ALIGNED TEMPLATE -->      

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Grid Layout Bottom Aligned Template:</h3>
            </div>
            <!-- BEGIN GRID BOTTOM ALIGNED TEMPLATE -->
            <div class="grid grid--bottom">
                <div class="grid__col grid__col--4of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--4of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--4of12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.
                </div>
            </div>
            <!-- END GRID BOTTOM ALIGNED TEMPLATE -->     

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Grid Layout Equal Height Template:</h3>
            </div>
            <!-- BEGIN GRID EQUAL HEIGHT TEMPLATE -->
            <div class="grid grid--equalCols">
                <div class="grid__col grid__col--4of12" style="background:#f5f5f5">           
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                </div>
                <div class="grid__col grid__col--4of12" style="background:#f5f5f5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                </div>
                <div class="grid__col grid__col--4of12" style="background:#f5f5f5">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis ligula sed accumsan imperdiet.</p>
                </div>
            </div>
            <!-- END GRID EQUAL HEIGHT TEMPLATE -->     

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Centered Grid Template:</h3>
            </div>
            <!-- BEGIN CENTERED GRID TEMPLATE -->
            <div class="grid grid--centered">
                <div class="grid__col grid__col--8of12--medium grid__col--6of12--xlarge">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
            </div>
            <!-- END CENTERED GRID TEMPLATE -->    

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Collapsed Grid Template:</h3>
            </div>
            <!-- BEGIN COLLAPSED GRID TEMPLATE -->
            <div class="grid grid--collapsed">
                <div class="grid__col grid__col--3of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--3of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--3of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--3of12">
                    <div class="box box--dusty box--framed">&nbsp;</div>
                </div>    
            </div>
            <!-- END COLLAPSED GRID TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Hidden Grid Columns Template:</h3>
            </div>
            <div class="vr">
                <table class="table table--appendix">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Modifier Class</th>
                            <th>Assign To</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--isHidden</code></td>
                            <td>.grid__col</td>
                            <td>Hides a grid column from being visible on all devices.</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--isHidden--medium</code></td>
                            <td>.grid__col</td>
                            <td>Hides a grid column from being visible on medium sized devices and larger.</td>
                        </tr>  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--isHidden--large</code></td>
                            <td>.grid__col</td>
                            <td>Hides a grid column from being visible on large devices and larger.</td>
                        </tr>  
                        <tr>
                            <td>&nbsp;</td>
                            <td><code>--isHidden--xlarge</code></td>
                            <td>.grid__col</td>
                            <td>Hides a grid column from being visible on extra large devices.</td>
                        </tr>               
                </table>          
            </div>
            <!-- BEGIN HIDDEN GRID COLUMNS TEMPLATE -->
            <div class="grid">
                <div class="grid__col grid__col--3of12--medium grid__col--isHidden">
                    <div class="box box--dusty box--framed">
                        Hidden On Small Devices
                    </div>
                </div>
                <div class="grid__col grid__col--3of12--medium grid__col--isHidden--medium">
                    <div class="box box--dusty box--framed">
                        Hidden On Medium Device
                    </div>
                </div>
                <div class="grid__col grid__col--3of12--medium grid__col--isHidden--large">
                    <div class="box box--dusty box--framed">
                        Hidden On Large Devices
                    </div>
                </div>
                <div class="grid__col grid__col--3of12--medium grid__col--isHidden--xlarge">
                    <div class="box box--dusty box--framed">
                        Hidden On XLarge Devices
                    </div>
                </div>
            </div>
            <!-- END HIDDEN GRID COLUMNS TEMPLATE -->         
        </div>											 
    </div>
</body>
</html>