<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Hints Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Hints Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.hint</code></td>
                        <td>*</td>
                        <td>Applies hint styles to text.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.hint--hasError</code></td>
                        <td>*</td>
                        <td>Applies error hint styles to text.</td>
                    </tr>
                </tbody>
            </table> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <label for="textFieldError" class="label">Text Field</label>
            <input id="textFieldError" class="input input--txt input--hasError" type="text" aria-required="true">
            <div class="hint hint--hasError">
                <span>Inline Error Message</span>
            </div>
            <div class="hint">
                <span>Example: example value</span>
            </div>
           
            <!-- END TEMPLATE -->
        </div>											 
    </div>
</body>
</html>