<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Lists Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Lists Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vList</code></td>
                        <td>*</td>
                        <td>Formats all child elements to appear as a vertical list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical-piped">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vList--piped</code></td>
                        <td>.vList</td>
                        <td>Applies a line separator between all vertical list items.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical-tight">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vList--tight</code></td>
                        <td>.vList</td>
                        <td>Reduces vertical spacing between all vertical list items.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList</code></td>
                        <td>*</td>
                        <td>Formats all child elements to appear as a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--center</code></td>
                        <td>.hList</td>
                        <td>Centers all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--right</code></td>
                        <td>.hList</td>
                        <td>Right aligns all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-justified">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--justify</code></td>
                        <td>.hList</td>
                        <td>Justifies all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-vAligned">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--top</code></td>
                        <td>.hList</td>
                        <td>Top aligns all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-vAligned">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--middle</code></td>
                        <td>.hList</td>
                        <td>Middle aligns all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-vAligned">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--bottom</code></td>
                        <td>.hList</td>
                        <td>Bottom aligns all child elements in a horizontal list.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-piped">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--piped</code></td>
                        <td>.hList</td>
                        <td>Applies a line separator between all horizontal list items.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-horizontal-vertical">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.hList--toVList</code></td>
                        <td>.hList</td>
                        <td>Formats all list items into a horizontal list on mobile devices but a vertical list on larger devices.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical-horizontal">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vList--toHList</code></td>
                        <td>.vList</td>
                        <td>Formats all list items into a vertical list on mobile devices but a horizontal list on larger devices.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical-bulleted">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.uList</code></td>
                        <td>*</td>
                        <td>Prefixes the default browser bullet to each list item.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="lists-vertical-bulleted">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.oList</code></td>
                        <td>*</td>
                        <td>Prefixes the default browser number sequence to each list item.</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Vertical List Template:</h3>
            </div>
            <!-- BEGIN VERTICAL LIST TEMPLATE -->
            <ul class="vList">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END VERTICAL LIST TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Vertical Piped List Template:</h3>
            </div>
            <!-- BEGIN VERTICAL PIPE LIST TEMPLATE -->
            <ul class="vList vList--piped">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END VERTICAL PIPE LIST TEMPLATE -->   

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Vertical List Tight Template:</h3>
            </div>
            <!-- BEGIN VERTICAL LIST TIGHT TEMPLATE -->
            <ul class="vList vList--tight">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END VERTICAL LIST TIGHT TEMPLATE -->  

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Bulleted List Template:</h3>
            </div>
            <!-- BEGIN BULLETED LIST TEMPLATE -->
            <ul class="uList">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END BULLETED LIST TEMPLATE -->  

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Ordered List Template:</h3>
            </div>
            <!-- BEGIN ORDERED LIST TEMPLATE -->
            <ul class="oList">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END ORDERED LIST TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Horizontal List Template:</h3>
            </div>
            <!-- BEGIN HORIZONTAL LIST TEMPLATE -->
            <ul class="hList">
                <li><strong>Default Align:</strong></li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <br />
            <ul class="hList hList--centered">
                <li><strong>Center Align:</strong></li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <br />
            <ul class="hList hList--right">
                <li><strong>Right Align:</strong></li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END HORIZONTAL LIST TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Horizontal List Justified Template:</h3>
            </div>
            <!-- BEGIN HORIZONTAL LIST JUSTIFIED TEMPLATE -->
            <ul class="hList hList--justify">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
            </ul>
            <!-- END HORIZONTAL LIST JUSTIFIED TEMPLATE -->  

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Vertical List To Horizontal List Template:</h3>
            </div>
            <!-- BEGIN VERTICAL TO HORIZONTAL LIST TEMPLATE -->
            <ul class="vList vList--toHList">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END VERTICAL TO HORIZONTAL LIST TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Horizontal List Vertically Aligned Template:</h3>
            </div>
            <!-- BEGIN HORIZONTAL LIST VERTICAL ALIGNED TEMPLATE -->
            <ul class="hList hList--top">
                <li><div class="module">
                        <strong>Top Align:</strong>
                    </div>
                </li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <br />
            <ul class="hList">
                <li><div class="module">
                        <strong>Default Align:</strong>
                    </div>
                </li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <br />
            <ul class="hList hList--middle">
                <li><div class="module">
                        <strong>Middle Align:</strong>
                    </div>
                </li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <br />
            <ul class="hList hList--bottom">
                <li><div class="module">
                        <strong>Bottom Align:</strong>
                    </div>
                </li>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END HORIZONTAL LIST VERTICAL ALIGNED TEMPLATE -->      

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Horizontal Piped List Template:</h3>
            </div>
            <!-- BEGIN HORIZONTAL PIPE LIST TEMPLATE -->
            <ul class="hList hList--piped">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END HORIZONTAL PIPE LIST TEMPLATE -->                     

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Horizontal List To Vertical List Template:</h3>
            </div>
            <!-- BEGIN HORIZONTAL TO VERTICAL LIST TEMPLATE -->
            <ul class="hList hList--toVList">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
            </ul>
            <!-- END HORIZONTAL TO VERTICAL LIST TEMPLATE -->                     
        </div>											 
    </div>
</body>
</html>