<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Media Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Media Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.media</code></td>
                        <td>*</td>
                        <td>Manages the formatting of child elements.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.media__media</code></td>
                        <td>.media &gt; *</td>
                        <td>Defines the section containing media (image, video, etc...).</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.media__bd</code></td>
                        <td>.media &gt; *</td>
                        <td>Defines the section containing relative content.</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <div class="media">
                <div class="media__media">
                    <img src="http://placehold.it/120x120&text=Image" alt="Example Image (Optional)" class="img" />
                </div>
                <div class="media__bd">
                    <strong>Media</strong><br />
                    <p>Magnus es, domine, et laudabilis valde: magna virtus tua, et sapientiae tuae non est numerus. et laudare te vult homo, aliqua portio creaturae tuae, et homo circumferens mortalitem suam, circumferens testimonium peccati sui et testimonium, quia superbis.</p>        
                </div>    
            </div>
            <!-- END TEMPLATE -->
        </div>											 
    </div>
</body>
</html>