<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Paragraphs Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Paragraph Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <p>Capiunt ergone te caelum et terra, quoniam tu imples ea? an imples et restat, quoniam non te capiunt? et quo refundis quidquid impleto caeloet terra restat ex te? an non opus habes, ut quoquam continearis, qui contines omnia, quoniam quae imples continendo imples? non enim vasa, quae te plena sunt, stabilem te faciunt, quia etsi frangantur non effunderis. et cum effunderis super nos, non tu iaces, sed erigis nos,nec tu dissiparis, sed colligis nos. sed quae imples omnia, te toto imples omnia. an quia non possunt te totum capere omnia, partem tui capiunt et eandem partem simul omnia capiunt? an singulas singula et maiores maiora, minores minora capiunt? ergo est aliqua pars tua maior, aliqua minor? an ubique totus es et res nulla te totum capit?</p>
            <p>Quid est ergo deus meus? quid, rogo, nisi dominus deus? quis enim dominus praeter dominum? aut quis deus praeter deum nostrum? summe, optime, potentissime, omnipotentissime, misericordissime et iustissime, secretissime et praesentissime, pulcherrime et fortissime,stabilis et inconprehensibilis, inmutabilis, mutans omnia, numquam novus.</p>
            <!-- END TEMPLATE -->
        </div>											 
    </div>
</body>
</html>