<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Responsive Utilities Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Responsive Utilities Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Narrow Devices</td>
                        <td>Mid Devices</td>
                        <td>Wide Devices</td>
                        <td>Huge Devices</td>            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <code>.isHidden</code>
                        </td>
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>  
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>                                        
                    </tr>
                    <tr>
                        <td>
                            <code>.isHidden--medium</code>
                        </td>
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>  
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>                                        
                    </tr>
                    <tr>
                        <td>
                            <code>.isHidden--large</code>
                        </td>
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>  
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>                                        
                    </tr> 
                    <tr>
                        <td>
                            <code>.isHidden--xlarge</code>
                        </td>
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>  
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>                                        
                    </tr>                                 
                    <tr>
                        <td>
                            <code>.isVisible</code>
                        </td>
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>  
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>                                        
                    </tr>
                    <tr>
                        <td>
                            <code>.isVisible--medium</code>
                        </td>
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>  
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>                                        
                    </tr>
                    <tr>
                        <td>
                            <code>.isVisible--large</code>
                        </td>
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>  
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>                                        
                    </tr> 
                    <tr>
                        <td>
                            <code>.isVisible--xlarge</code>
                        </td>
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>  
                        <td>
                            <div class="responsiveUtil--hidden">Hidden</div>
                        </td>   
                        <td>
                            <div class="box box--dusty responsiveUtil--visible">Visible</div>
                        </td>                                        
                    </tr>                                 
                </tbody>
            </table> 
            <hr />
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <p class="isHidden isVisible--large">
                <span class="txt txt--brand">This text will only be visible on large+ devices.</span>
            </p>
            <p class="isHidden isVisible--medium">
                <span class="txt txt--success">This text will only be visible on medium+ devices.</span>
            </p>
            <p class="isHidden--medium">This text will only be visible on small devices.</p>
            <!-- END TEMPLATE -->
        </div>	
    </div>
</body>
</html>