<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Splits Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Splits Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-basic" "=">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split</code></td>
                        <td>*</td>
                        <td>Contains the left and right sections of the split component.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-basic">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split__left</code></td>
                        <td>*</td>
                        <td>Positions content to the left.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-basic">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split__right</code></td>
                        <td>*</td>
                        <td>Positions content to the right.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-trim">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split--trim</code></td>
                        <td>.split</td>
                        <td>Applies top and bottom border to split container.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-top-trim">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split--trimTop</code></td>
                        <td>.split</td>
                        <td>Applies border to the top of split container.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="split-bottom-trim">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.split--trimBottom</code></td>
                        <td>.split</td>
                        <td>Applies border to the bottom of split container.</td>
                    </tr>
                </tbody>
            </table> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Basic Split Template:</h3>
            </div>
            <!-- BEGIN BASIC SPLIT TEMPLATE -->
            <div class="split">
                <div class="split__left">
                    Left Content
                </div>

                <div class="split__right">
                    Right Content
                </div>
            </div>
            <!-- END BASIC SPLIT TEMPLATE -->

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Split w/ Trim Template:</h3>
            </div>
            <!-- BEGIN SPLIT W/ TRIM TEMPLATE -->
            <div class="split split--trim">
                <div class="split__left">
                    Left Content
                </div>

                <div class="split__right">
                    Right Content
                </div>
            </div>
            <!-- END SPLIT W/ TRIM TEMPLATE -->  

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Split w/ Top Trim Template:</h3>
            </div>
            <!-- BEGIN SPLIT W/ TOP TRIM TEMPLATE -->
            <div class="split split--trimTop">
                <div class="split__left">
                    Left Content
                </div>

                <div class="split__right">
                    Right Content
                </div>
            </div>
            <!-- END SPLIT W/ TOP TRIM TEMPLATE --> 

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Split w/ Bottom Trim Template:</h3>
            </div>
            <!-- BEGIN SPLIT W/ BOTTOM TRIM TEMPLATE -->
            <div class="split split--trimBottom">
                <div class="split__left">
                    Left Content
                </div>

                <div class="split__right">
                    Right Content
                </div>
            </div>
            <!-- END SPLIT W/ BOTTOM TRIM TEMPLATE -->                    
        </div>											 
    </div>
</body>
</html>