<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Text Styles Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Text Styles Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="font-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><em>default</em></td>
                        <td>*</td>
                        <td>By default, all text renders at 1rem / 16px.</td>
                    </tr>                            
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--bold</code></td>
                        <td>.txt</td>
                        <td>Apply bolded font-weight to text.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--semibold</code></td>
                        <td>.txt</td>
                        <td>Apply semi-bolded font-weight to text.</td>
                    </tr>   
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--underline</code></td>
                        <td>.txt</td>
                        <td>Apply underline to text.</td>
                    </tr>                            
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--italic</code></td>
                        <td>.txt</td>
                        <td>Apply italic font style to text.</td>
                    </tr>  
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--strike</code></td>
                        <td>.txt</td>
                        <td>Apply strikethrough styling to text.</td>
                    </tr>                            
                    <tr>
                        <td>
                            <a href="" scroll-to="font-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--xs</code></td>
                        <td>.txt</td>
                        <td>Resize text to .75rem / 12px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="font-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--sm</code></td>
                        <td>.txt</td>
                        <td>Resize text to .875rem / 14px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="font-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--lg</code></td>
                        <td>.txt</td>
                        <td>Resize text to 1.125rem / 18px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--brand</code></td>
                        <td>.txt</td>
                        <td>Changes text to be the "@brand" color.</td>
                    </tr> 
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--dusty--x4</code></td>
                        <td>.txt</td>
                        <td>Changes text to be the "@dusty--x4" color.</td>
                    </tr>  
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--dusty--x5</code></td>
                        <td>.txt</td>
                        <td>Changes text to be the "@dusty--x5" color.</td>
                    </tr>  
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--success</code></td>
                        <td>.txt</td>
                        <td>Changes text to be the "@tender" color.</td>
                    </tr> 
                    <tr>
                        <td>
                            <a href="" scroll-to="font-weights">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.txt--inverse</code></td>
                        <td>.txt</td>
                        <td>Changes text to be white.</td>
                    </tr>                             
                </tbody>
            </table> 
            <hr />
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Bold Text Template:</h3>
            </div>
            <!-- BEGIN BOLD TEMPLATE -->
            <p>This is an example of <strong>bold</strong> text showing importance.</p>
            <p>This is an example of <b>bold</b> text for visual aesthetics.</p>
            <p>This is an example of <span class="txt txt--bold">bold</span> using a specific class name.</p> 
            <!-- END BOLD TEMPLATE -->                    

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Underline Text Template:</h3>
            </div>
            <!-- BEGIN UNDERLINE TEMPLATE -->
            <p>This is an example of <u>underlined</u> text for visual aesthetics.</p>
            <p>This is an example of <span class="txt txt--underline">underlined</span> text using a specific class name.</p>
            <!-- END UNDERLINE TEMPLATE -->                     

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Italic Text Template:</h3>
            </div>
            <!-- BEGIN ITALIC TEMPLATE -->
            <p>This is an example of <i>italic</i> text for visual aesthetics.</p>
            <p>This is an example of <em>italic</em> text to stress emphasis.</p>
            <p>This is an example of <span class="txt txt--italic">italic</span> text using a specific class name.</p>
            <!-- END ITALIC TEMPLATE -->     


            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Strikethrough Text Template:</h3>
            </div>
            <!-- BEGIN STRIKETHROUGH TEMPLATE -->
            <p>This is an example of <s>strikethrough</s> text for visual aesthetics.</p>
            <p>This is an example of <del>strikethrough</del> text to demonstrate text removal.</p>
            <p>This is an example of <strike>strikethrough</strike> text to demonstrate text removal and can only be rendered within HTML5 applications.</p>
            <p>This is an example of <span class="txt txt--strike">strikethrough</span> text using a specific class name.</p>
            <!-- END STRIKETHROUGH TEMPLATE -->    

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Text Color Template:</h3>
            </div>
            <!-- BEGIN COLOR TEMPLATE -->
            <p class="txt txt--brand">This is an example of text using "brand" color.</p>
            <p class="txt txt--dusty--x4">This is an example of text using "dusty--x4" color.</p>
            <p class="txt txt--dusty--x5">This is an example of text using "dusty--x5" color.</p>
            <p class="txt txt--success">This is an example of text using "success" color.</p>
            <p class="txt txt--inverse" style="background:#000;">This is an example of text using "inverse" color.</p>
            <!-- END COLOR TEMPLATE -->                         

            <hr />

            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Text Size Template:</h3>
            </div>
            <!-- BEGIN TEXT SIZE TEMPLATE -->                                      
            <span class="txt txt--xs">Extra-small font. (.75rem | 12px)</span><br /><br />
            <span class="txt txt--sm">Small font used for disclaimers. (.875rem | 14px)</span><br /><br />
            <span>Normal font is used for body text. (1rem | 16px)</span><br /><br />
            <span class="txt txt--lg">Large font used for emphasis. (1.125rem | 18px)</span>                
            <!-- END TEXT SIZE TEMPLATE -->                    
        </div>											 
    </div>
</body>
</html>