<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Allstate User Interface Toolkit Starter Toggle Button Template</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Toggle Button Template</h1>
            </div>
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="hdg hdg--3 hdg--bold">Appendix:</h3>
            </div>
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle</code></td>
                        <td>*</td>
                        <td>Manages the format of the toggle buttons.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle__btn</code></td>
                        <td>.toggle &gt; *</td>
                        <td>Defines a button within the button group.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle_radio</code></td>
                        <td>&lt;input type="radio" /&gt;</td>
                        <td>Applies button styling to a radio button.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle__label</code></td>
                        <td>&lt;label&gt;</td>
                        <td>Applies styling to a radio button's associated label.</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle--dusty</code></td>
                        <td>*</td>
                        <td>Manages the format of the dusty button group.</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle__btn--dusty</code></td>
                        <td>.toggle--dusty > *</td>
                        <td>Manages the format of the dusty toggle buttons.</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle_radio--dusty</code></td>
                        <td>&lt;input type="radio" /&gt;</td>
                        <td>Applies dusty button styling to a radio button.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.toggle__label--dusty</code></td>
                        <td>&lt;label&gt;</td>
                        <td>Applies dusty styling to a radio button's associated label.</td>
                    </tr>
                </tbody>

            </table>

            <hr />

            <div class="vr--x2">
                <h3 class="hdg hdg--3 hdg--bold">Toggle Button Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <div class="box box--dusty">
                <div class="toggle">
                    <div class="toggle__button">
                        <input class="toggle__radio" type="radio" name="toggle" id="toggle">
                        <label class="toggle__label" for="toggle">Auto</label>
                    </div>
                    <div class="toggle__button">
                        <input class="toggle__radio" type="radio" name="toggle" id="toggle1">
                        <label class="toggle__label" for="toggle1">Home</label>
                    </div>
                    <div class="toggle__button">
                        <input class="toggle__radio" type="radio" name="toggle" id="toggle2">
                        <label class="toggle__label" for="toggle2">Life</label>
                    </div>
                    <div class="toggle__button">
                        <input class="toggle__radio" type="radio" name="toggle" id="toggle3">
                        <label class="toggle__label" for="toggle3">Business</label>
                    </div>

                </div>
            </div>
            <!-- END TEMPLATE -->

            <br />
            <br />

            <div class="vr--x2">
                <h3 class="hdg hdg--3 hdg--bold">Toggle Button Dusty Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <div class="toggle--dusty">
                <div class="toggle__button--dusty">
                    <input class="toggle__radio--dusty" type="radio" name="toggle" id="toggle4">
                    <label class="toggle__label--dusty" for="toggle4">Auto</label>
                </div>
                <div class="toggle__button--dusty">
                    <input class="toggle__radio--dusty" type="radio" name="toggle" id="toggle5">
                    <label class="toggle__label--dusty" for="toggle5">Home</label>
                </div>
                <div class="toggle__button--dusty">
                    <input class="toggle__radio--dusty" type="radio" name="toggle" id="toggle6">
                    <label class="toggle__label--dusty" for="toggle6">Life</label>
                </div>
                <div class="toggle__button--dusty">
                    <input class="toggle__radio--dusty" type="radio" name="toggle" id="toggle7">
                    <label class="toggle__label--dusty" for="toggle7">Business</label>
                </div>
            </div>
            <!-- END TEMPLATE -->
        </div>
    </div>
</body>
</html>