<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="ie" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<title>Allstate User Interface Toolkit Starter Vertical Rhythm Template</title>
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="../assets/styles/app.css" />
</head>
<body>
    <div class="vr">
        <div class="box">
            <div class="txt txt--centered">
                <h1 class="hero__h1">Allstate<sup>&copy;</sup> User Interface Toolkit Vertical Rhythm Template</h1>                               
            </div>        
        </div>
    </div>
    <div class="vr">
        <div class="wrapper">
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Appendix:</h3>
            </div>                    
            <table class="table table--appendix">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Modifier Class</th>
                        <th>Assign To</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="" scroll-to="vr-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vr</code></td>
                        <td>*</td>
                        <td>Applies bottom margin of 1rem / 16px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="vr-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vr--x2</code></td>
                        <td>.vr</td>
                        <td>Applies bottom margin of 2rem / 32px.</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" scroll-to="vr-sizes">
                                <i class="fa fa-arrow-circle-down icon icon--flush"></i>
                            </a>
                        </td>
                        <td><code>.vr--x3</code></td>
                        <td>.vr</td>
                        <td>Applies bottom margin of 3rem / 48px.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.vr--x4</code></td>
                        <td>.vr</td>
                        <td>Applies bottom margin of 4rem / 64px.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><code>.vr--x5</code></td>
                        <td>.vr</td>
                        <td>Applies bottom margin of 5rem / 80px.</td>
                    </tr>
                </tbody>
            </table>  
            <hr />
            <div class="vr--x2">
                <h3 class="display display--20 display--bold">Template:</h3>
            </div>
            <!-- BEGIN TEMPLATE -->
            <div class="grid">
                <div class="grid__col grid__col--2of12">
                    <!-- VR TEMPLATE -->
                    <div class="vr">
                        <div class="box box--dusty">1x (.vr)</div>
                    </div>
                    <!-- END VR TEMPLATE -->
                    <div class="box box--framed">&nbsp;</div>
                </div>
                <div class="grid__col grid__col--2of12">
                    <!-- VR 2x TEMPLATE -->
                    <div class="vr vr--x2">
                        <div class="box box--dusty">2x (.vr--x2)</div>
                    </div>
                    <!-- END VR 2x TEMPLATE -->
                    <div class="box box--framed">&nbsp;</div>   
                </div>    
                <div class="grid__col grid__col--2of12">
                    <!-- VR 3x TEMPLATE -->
                    <div class="vr vr--x3">
                        <div class="box box--dusty">3x (.vr--x3)</div>
                    </div>
                    <!-- END VR 3x TEMPLATE -->
                    <div class="box box--framed">&nbsp;</div>  
                </div>
                <div class="grid__col grid__col--2of12">
                    <!-- VR 4x TEMPLATE -->
                    <div class="vr vr--x4">
                        <div class="box box--dusty">4x (.vr--x4)</div>
                    </div>
                    <!-- END VR 4x TEMPLATE -->
                    <div class="box box--framed">&nbsp;</div>   
                </div>
                <div class="grid__col grid__col--2of12">
                    <!-- VR 5x TEMPLATE -->
                    <div class="vr vr--x5">
                        <div class="box box--dusty">5x (.vr--x5)</div>
                    </div>
                    <!-- END VR 5x TEMPLATE -->
                    <div class="box box--framed">&nbsp;</div>   
                </div>
            </div>
            <!-- END TEMPLATE -->
        </div>											 
    </div>
</body>
</html>