// // ------------------------------------
// // Header
// // -----------------------------------

.responsive__header {
    background: #004481;
}

.responsive__header--divider {
    border-right: 1px solid $blue-3;
}

.hamburger__container {
    border: 1px solid #004481;
}
